.root{
	-fx-background-image: url("grom_background.png");
}

#lbWprow{
	-fx-text-fill: white;
}

.table-view{
   -fx-background-color: transparent;
   -fx-base: transparent;
}

.label{
	-fx-font-weight: bold;
}

.table-view .table-cell{
    -fx-background-color: rgba(169,169,169, 0.5);
}

.button{
	-fx-background-color: black;
	-fx-text-fill: white;
}

.scroll-bar{
	-fx-background-color: transparent;
}

.table-row-cell:selected{
	-fx-background-color: #BDB76B;
	/* border poziomy */
	-fx-border-color: rgba(169,169,169, 0.5);
	/* border pionowy */
	-fx-table-cell-border-color:  transparent;
}
/* parzyste wiersze */
.table-row-cell:even{
	-fx-background-color: rgba(189, 183, 107, 0.5);
	-fx-table-cell-border-color:transparent;
}

.table-cell .text-field{
	-fx-background-color: #BDB76B;
}

.table-cell .text-field:focused{
	 	-fx-background-color:  	#B8860B;
}